@{
    ViewBag.Title = "About";
}
<h2>Sobre esta aplicação:</h2>
<p>Aplicação desenvolvida para a matéria de Sistemas Web II, ministrada pelo Profº Me. Wellington Tuler</p>
<p>Trabalho prático de número 03</p>

